<ul>
  <% Country.all.each do |c| %>
    <li>Urlaubsregionen in <%= c.name.upcase %>
      <ul>
        <% c.regions.each do |r| %>
          <li><%= r.name %>
            <ul>
              <% r.locations.each do |l| %>
                <% l.houses.each do |h| %>
                  <li><%= link_to h.name, house_path(h) %> (in <%= l.name %>)</li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li><br>
  <% end %>
</ul>
