/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.jcrop
 *= require jquery-ui
 *= require jquery.comiseo.daterangepicker.css
 *
 */

@import 'blueimp-gallery.min.css';
@import 'bootstrap-image-gallery.min.css';

/* Rahmen */
* {
    margin: 0;
}

html, body {
  background-color: white;
  height: 100%;
}

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

.outline {
  outline: 1px solid lightgray;
}

.footer {
  background: -webkit-linear-gradient(top, #3b96f7 0%, #0863c4 100%);
  background: linear-gradient(to bottom, #3b96f7 0%, #0863c4 100%);
  height: 80px; /* .push must be the same height as .footer */
  color: white !important;
}

.footer > div.center-block > div.text-center > a {
  color:white;
}

.push {
  height: 80px; /* .push must be the same height as .footer */
}

.navbar {
  margin-bottom: 5px;
  background: -webkit-linear-gradient(top, #0863c4 0%, #3b96f7 100%);
  background: linear-gradient(to bottom, #0863c4 0%, #3b96f7 100%);
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0;
  border-left: 1px solid #f2f2f2;
}

.navcontainer {
  background: -webkit-linear-gradient(top, #0863c4 0%, #3b96f7 100%);
  background: linear-gradient(to bottom, #0863c4 0%, #3b96f7 100%);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  font-family: 'Matura MT Script Capitals', arial;
  font-size: 1.75em;
  color: white;
  background: -webkit-linear-gradient(top, #0863c4 0%, #3b96f7 100%);
  background: linear-gradient(to bottom, #0863c4 0%, #3b96f7 100%);
}

.navbar-default {
    font-size: 15px;
    background: -webkit-linear-gradient(top, #0863c4 0%, #3b96f7 100%);
    background: linear-gradient(to bottom, #0863c4 0%, #3b96f7 100%);
    border-width: 1px;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    background: -webkit-linear-gradient(top, #0863c4 0%, #3b96f7 100%);
    background: linear-gradient(to bottom, #0863c4 0%, #3b96f7 100%);
    border-style: solid;
    border-width: 0 1px 0px 1px;
    border-color: white;
}
.navbar-right  {
    color: white;
    background-color: #428bca;
    background: -webkit-linear-gradient(top, #0863c4 0%, #3b96f7 100%);
   background: linear-gradient(to bottom, #0863c4 0%, #3b96f7 100%);
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background: -webkit-linear-gradient(top, #0a7af2 0%, #6cb0f9 100%);
    background: linear-gradient(to bottom, #0a7af2 0%, #6cb0f9 100%);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background: -webkit-linear-gradient(top, #0a7af2 0%, #6cb0f9 100%);
    background: linear-gradient(to bottom, #0a7af2 0%, #6cb0f9 100%);
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

.container {
  background-color: white;
}
/*Ende Rahmen*/


#new_picture {
  clear: both;
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

ul.mobile-tab > li > a {
  font-size: 0.75em;
  padding: 2px 3px;
  margin: 1px;
}

ul.nav-tabs {
  color: black;
  font-size: 1.2em;
}

/* Tab Navigation */
.nav-tabs {
  padding: 0;
  border: 0;
}

form > ul.nav-tabs {
  margin-bottom: -20px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:visited {
  background: #FFDD54;
  border: 0px;
  border-radius: 10px 10px 0 0;
  margin-right: 4px;
  color: black;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background: #F6FAA5 !important;
  color: black;
}

/* Tab Content */
.tab-pane {
  background: #F6FAA5;
  padding: 10px;
  border: 1px solid lightgray !important;
}

td > div.form-group > input,
td > div.form-group > select,
td > div.form-group > .btn {
  margin-bottom: -14px;
}

.help-block {
  clear: left;
  color: #555;
  display: block;
  font-style: italic;
}

.jumbotron {
  background: lightgray;
  border: 1px solid #C0C0C0;
}

.jumbotron.color1 {
 background: #FFDD54;
  /* background: -webkit-linear-gradient(top, #F6FAA5 0%, #FFFFBF 100%);
  background: linear-gradient(to bottom, #F6FAA5 0%, #FFFFBF 100%); */
  border: 1px solid #C0C0C0;
}


.jumbotron.color2 {
  /* background: -webkit-linear-gradient(top, #FFDD54 0%, #FFF76E 100%);
  background: linear-gradient(to bottom, #FFDD54 0%, #FFF76E 100%);*/
  background: #F6FAA5;
  border: 1px solid #C0C0C0;
}

hr {
  border-color: black! important;
}

.jumbotron.lowpad {
  padding: 10px;
  border-radius: 10px;
}

.jumbotron p {
  font-size: 15px;
}

h2 {
  margin-top: 5px;
}

.gallery {
  padding-bottom: 30px;
  img {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
  }
}

.jumbotron.picture {
  width: 31.2%;
  min-height: 300px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 3px;
  float: left;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 22px;
  font-weight: bold;
  position:relative;
  img {
    display:block;
    margin: 0 auto;
	  width: 97%;
    border-radius: 10px;
  }
  .left {
    padding: 12px 0 5px 10px;
    text-align: left;
	  display: inline-block;
  }
  .right {
    padding: 5px 20px 5px 0px;
    text-align: right;
	  display: inline-block;
  }
  a > .imgtxt-right,
  a:visited > .imgtxt-right {
    position: absolute;
    width: auto;
    top: 5px;
    right: 5px;
    margin: 0 auto;
    height: 30px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 5px;
    opacity: 0.8;
  }
  a:hover > .imgtxt-right {
    opacity: 1;
  }
}

a > .jumbotron.list {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color:black;
  position: relative;
  .content{
    width: 100%;
    height: 98px;
  }
  .content-mobile{
    width: 100%;
  }
  .content2{
    width: 100%;
    height: 50px;
    font-weight: bold;
  }
  .left {
    padding-left: 15px;
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .right {
    padding-right: 15px;
    text-align: right;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

a:hover > div.jumbotron.list {
  opacity: 0.78;
}

table.table-striped {
  thead > tr > th,
  tbody > tr > td {
    padding: 5px;
  }
}

table.calendar {
  opacity: 0.7;
  border-collapse: separate;
  border-spacing: 2px;
  tbody > tr > th {
    padding-right: 8px;
  }
  tbody > tr > td {
    width: 17px;
    padding: 1px;
    color: white;
  }
  tbody > tr > td.free {
    background: limegreen;
  }
  tbody > tr > td.busy {
    background: red;
  }
  tbody > tr > td.closed {
    background: grey;
  }
  tbody > tr > td.special {
    background: gold;
  }
  tbody > tr > td.request {
    background: lightgreen;
  }
  tbody > tr > td.start {
    background: linear-gradient(50deg, limegreen 50%, red 50%);;
  }
  tbody > tr > td.end {
    background: linear-gradient(50deg, red 50%, limegreen 50%);
  }
}

table.calendar-mobile {
  tbody > tr > th {
    padding-right: 0;
  }
  tbody > tr > td {
    width: 13px;
    padding: 1.5px 0 0 0.5px;
    color: white;
  }
}

.glyphs {
  position: relative;
  .cross{
    position: absolute;
    top:-12px;
    left:3px;
    color: red;
    font-size: 1.3em;
  }
}

hr.small {
  margin:3px 0 3px 0;
}

.btn {
  margin-bottom: 0px;
  border-radius: 10px;
}

.form-control {
  background-color: #fafccf;
}

.form-group {
  margin-bottom: 0;
}

label {
  margin: 0;
}

.tooltip-inner {
  white-space:pre-wrap;
  text-align:left;
  margin: 0px;
  padding: 3px;
  min-width: 150px;
}


/*Search-Form*/
form#houses_search > div.form-group > input {
  height: 20px;
  width: 30px;
  padding: 2px 7px;
  font-size: 12px;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

.checkbox {
  margin: 0;
}

.checkbox label {
  min-height: 1px;

}

/*Valid*/
input.error, input.error:focus {
    border: 2px solid #f00;
}

.error {
  color: #f00;
}

.valid {
    border: 2px solid green;
}

/*DATERANGEPICKER*/
.daterange {
  display: none;
}

.comiseo-daterangepicker {
  border: 1px solid lightgray !important;
}

.comiseo-daterangepicker-presets {
  display: none;
}

.ui-widget-content {
  border: 0;
}

.clear-button {
  display: none;
}

/*PriceForm*/
table#periods > tbody > tr.fields > td > div.form-group > input,
table#periods > tbody > tr.fields > td > div.form-group > select {
  height: 20px;
  padding: 2px 7px;
  font-size: 12px;
}

table#periods > tbody > tr.fields > td > a.btn {
  font-size: 10px;
  padding: 3px;
  line-height: 1.2;
}

img {
  border-radius: 10px;
}
